.main {
    margin: 0 auto;
    width: 1100px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #000;
}

.moveRight {
    position: absolute;
    right: 40px;
    top: 40px;
    border-radius: 2px solid rgb(4, 4, 37);
}

.profile {
    margin: 10px;
}

.profile h3 {
    text-align: center;
}

img {
    height: 120px;
    width: 120px;
}

.profile img {
    border-radius: 40%;
}

.one {
    width: 700px;
    background: rgb(215, 214, 224);
    text-align: center;
    margin-bottom: 10px;
    border-radius: 7px;
    padding: 13px;
    transition: width 1s;
}

.one:hover {
    background: rgb(172, 172, 184);
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
    gap: 40px;
}

.footer {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
}

.footer img {
    height: 40px;
    width: 80px;
}

@media only screen and (max-width: 640px) {
    .main {
        width: 100%;
    }
    .one {
        width: 260px;
    }
    .footer {
        flex-direction: column;
        justify-content: space-evenly;
    }
    .footer span {
        margin: 10px;
    }
}